.rotate-active {
    display: block;
    font: 12px Sans-Serif;
    letter-spacing: 2px;
    background: rgba(51, 102, 153, 0.8);
    color: #fff;
    padding: 5px 10px;
    line-height: 16px;
    height:20px;
    width:50px;
    text-align: center;
    transform-origin: 20% 60%;
    transform: rotate(90deg);
}

.rotate-inactive {
    display: block;
    font: 12px Sans-Serif;
    letter-spacing: 2px;
    background: rgba(51, 102, 153, 0.2);
    color: #fff;
    padding: 5px 10px;
    line-height: 16px;
    height:20px;
    width:50px;
    text-align: center;
    transform-origin: 20% 60%;
    transform: rotate(90deg);
}